
<div class="container">
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Carole Miquee</h2>
    <p> 06.30.95.73.28</p>
    <p> c.miquee29@laposte.net</p>
    <p> www.leboudoirdemademoiselle</p>
  </div>
</div>
</div>

